<h2>Add new list to <%= @user %></h2>

<form method='post' action='/create/'>
<b>Title:</b><br />
<input type='text' name='title'><br />
<b>Description:</b><br />
<input type='text' name='desc'><br />
<br />
<input type='submit' text='Create'>
</form>
