<h1 class=segment-head>welcome</h1>
<br />
<div class="one-half titular">
<h2 class="segment-head"> mordr.io allows you to...</h2>
<br />
<ul class="main-page">
<li>create and share lists</li>
<li>some other stuff.</li>
<li>probably.</li>
</ul>
<br />
<p class="confess">
Actually all we do is lists. We create them, we store them, we make them easy to use.
<p>
<p class="confess">
We create todo lists. Shopping lists. Task lists. Reminders.
<p>
<p class="confess">
If you can list it then we can store it.
</p>
<p class="confess">
<a href="/login/">login</a> or <a href="/signup/">signup</a> now.
</p>
</div>