<h3 class="segment-head">Welcome <%= @user %></h3>  (<a href="/logout/">Log Out</a>)
<br />
<br />
<ul>
<li> <a href='/create/'>New List</a> </li>
</ul>
<br />
<br />

<b>My Lists</b>
<ul>
  <% @lists.each do |list| %>
    <li><b><a href='/<%= @user %>/<%= list.slug %>/'> <%= list.title %> </a></b></li>
  <% end %>
</ul>

