<h2>Login to Mordr.io</h2>

<form name='login' method='post' action='/login/'>
<b>handle:</b><br />
<input type='text' name='handle'><br />
<b>password:</b><br />
<input type='password' name='password'><br />
<br />
<input type='submit'>
</form>
