<h3 class="segment-head">Login to Mordr.io</h3> (or <a href="/signup/">signup</a>)
<br />
<br />
<form name='login' method='post' action='/login/'>
<b>handle:</b><br />
<input type='text' name='handle'><br />
<b>password:</b><br />
<input type='password' name='password'><br />
<br />
<input type='submit'>
</form>
