<h3 class="segment-head">Sign up to Mordr.io</h3>
<br />
<br />
<form method='post' action='/signup/'>
<b>Choose a Handle:</b><br />
<input type='text' name='handle'><br />
<b>Choose a Password:</b><br />
<input type='password' name='password'><br />
<b>Set your Email:</b><br />
<input type='text' name='email'><br />
<br />
<input type='submit' value='signup'>
</form>
